---
title: Rendez-vous à l’accueil
---

.content
  markdown:
    ### Connexion à Internet

    1. L’utilisateur se rendra à l’accueil d’Euratechnologies où il lui sera délivré, pour une durée limitée, un code et un mot de passe.
    2. Il devra ensuite activer la carte Wifi de son ordinateur qui sera paramétrée en mode « obtenir une adresse IP automatiquement » (DHCP).
    3. Il établira la connexion sur le réseau Wifi (« WIFI EURATECHNOLOGIES INVITE »).
    4. Il pourra alors se connecter à Internet avec son navigateur : le code utilisateur et le mot de passe lui seront demandés avant d’établir la communication.

  = link_to 'Connexion wifi', '/', class: 'link-back'
